<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <%- include('partials/head')%>
    <title><%= tittle%></title>
</head>
<body>
    <%- include('partials/navigation') %>
    <main class="container vh-100 pt-2 text-center d-flex justify-content-evenly">
        
    </main>
    <%- include('partials/footer') %>
</body>
</html>








































<section id="portfolio" class="portfolio">
    <div class="container-section">
      <h2>ropa deportiva</h2>
      <div class="galeria">
        <div class="proyecto">
          <img src="img/imgkids.jpeg" alt="">
          <div class="overlay">
            <h3><a href="./resources/portafolio/index.html" target="_blank">productos de kids</a></h3>
            <p></p>
          </div>
        </div>
        <div class="proyecto">
          <img src="img/imgmasc.jpg" alt="">
          <div class="overlay">
            <h3><a href="./">productos masculinos</a></h3>
            <p></p>
          </div>
        </div>
        <div class="proyecto">
          <img src="img/imgfem.jpeg" alt="">
          <div class="overlay">
            <h3>productos femeninos</h3>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </section>