<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <%- include('partials/head')%>
    <title><%= tittle%></title>
</head>
<body>
    <%- include('partials/navigation') %>
    <main class="container vh-100 pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1 d-flex justify-content-center">Productos</h1>
            <p class="d-flex justify-content-center">
                Aquí te podemos dar muestra de cada una de nuestras líneas de ropa deportiva, 
                espero encuentres lo que tanto estás buscando para tener cada día un mejor estilo!</p>
            <img src="img/fondoproduc.jpg" alt="w-100">
        </section>
    </main>
    <%- include('partials/footer') %>
</body>
</html>