<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <%- include('partials/head')%>
    <title><%= tittle%></title>
</head>
<body>
    <%- include('partials/navigation') %>
    <main class="container vh-100 pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1 d-flex justify-content-center">Quienes Somos</h1>
            <p class="d-flex justify-content-center">
                Somos una destacada empresa especializada en la venta de una amplia gama de artículos deportivos, diseñada para brindarte soluciones integrales
                que potenciarán tu experiencia en el mundo del deporte. Nuestra misión es proporcionarte todo lo necesario para que disfrutes al máximo mientras
                te mantienes activo y protegidoen tu entorno de movimiento sin restricciones. Contamos con una selección cuidadosamente curada de productos que
                abarcan desde equipos de alta calidad hasta accesorios esenciales, todos destinados a hacer que cada momento en tu jornada deportiva sea memorable
                y seguro. Tu pasión y bienestar son nuestra prioridad, y estamos comprometidos en ofrecerte productos que reflejen nuestra dedicación a la excelencia
                y al disfrute del deporte.</p>
            <img src="/img/quienes.jpg" alt="w-100">
        </section>
    </main>
    <%- include('partials/footer') %>
</body>
</html>