<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <%- include('partials/head')%>
    <title><%= tittle%></title>
</head>
<body>
    <%- include('partials/navigation') %>
    <main class="container vh-100 pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1 d-flex justify-content-center">Quienes Somos</h1>
            <p class="d-flex justify-content-center text-align-center">
            Somos una destacada empresa especializada en la venta de una amplia gama de artículos deportivos, diseñada para brindarte soluciones integrales
            que potenciarán tu experiencia en el mundo del deporte. Nuestra misión es proporcionarte todo lo necesario para que disfrutes al máximo mientras
            te mantienes activo y protegidoen tu entorno de movimiento sin restricciones. Contamos con una selección cuidadosamente curada de productos que
            abarcan desde equipos de alta calidad hasta accesorios esenciales, todos destinados a hacer que cada momento en tu jornada deportiva sea memorable
            y seguro. Tu pasión y bienestar son nuestra prioridad, y estamos comprometidos en ofrecerte productos que reflejen nuestra dedicación a la excelencia
            y al disfrute del deporte.</p>
            
            <h1 class="display-1 d-flex justify-content-center">Visión de MC7</h1>
            <p class="d-flex justify-content-center">Nuestra visión en MC7 Tienda Deportiva es convertirnos en el destino preferido para todos aquellos que buscan equipamiento y accesorios deportivos de primera calidad. Aspiramos a ser reconocidos por nuestra excelencia en atención al cliente, variedad de productos y compromiso con la innovación. A medida que crecemos, nos esforzamos por expandir nuestra presencia en diversas comunidades, contribuyendo al desarrollo de un mundo donde las personas encuentren la motivación y los recursos para perseguir sus objetivos deportivos.</p>

            <h1 class="display-1 d-flex justify-content-center">Misión de MC7</h1>
            <p class="d-flex justify-content-center">Nuestra misión en MC7 Tienda Deportiva es ser la fuente más confiable y apasionante de artículos deportivos para entusiastas
             y atletas de todos los niveles. Nos esforzamos por brindar productos de alta calidad que inspiren a las personas a llevar un estilo de vida activo y saludable.
             A través de nuestra amplia gama de productos y servicios, buscamos promover la pasión por el deporte y fomentar el bienestar en la comunidad.</p>
            <img src="/img/quienes.jpg" alt="w-100">
        </section>
    </main>
    <%- include('partials/footer') %>
</body>
</html>