<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <%- include('partials/head')%>
    <title><%= tittle%></title>
</head>
<body>
    <%- include('partials/navigation') %>
    <main class="container vh-100 pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1 d-flex justify-content-center">Servicios</h1>
            <p class="d-flex justify-content-center">
                <ul>
                    
                        Venta de Equipamiento Deportivo
                    <li>
                        Ropa deportiva.
                        Calzado deportivo.
                        Equipos y accesorios para diferentes deportes.  
                    </li>
                </ul>

                <ul>
                    
                    Asesoramiento y Atención al Cliente
                    <li>
                    Ayuda personalizada para encontrar el equipo adecuado.
                    Asesoramiento sobre tallas, materiales y características.  
                    </li>
                </ul>
                <ul>
                    
                    Personalización de Productos
                    <li>
                    Ayuda personalizada para encontrar el equipo adecuado.
                    Asesoramiento sobre tallas, materiales y características.  
                    </li>
                </ul>
            
                <ul>
                    
                    Talleres y Clases
                    <li>
                    Clases de entrenamiento específico para deportes.
                    Talleres sobre técnicas y estrategias deportivas.  
                    </li>
                </ul>
                <ul>
                    
                    Análisis de Pisada y Biomecánica
                    <li>
                    Evaluación de la pisada para recomendaciones de calzado.
                    Análisis biomecánico para prevenir lesiones.  
                    </li>
                </ul>
                <ul>
                    
                    Organización de Eventos
                    <li>
                    Torneos deportivos locales.
                    Competiciones y partidos amistosos.  
                    </li>
                </ul>
                <ul>
                    
                    Programas de Entrenamiento
                    <li>
                    Diseño de programas de entrenamiento personalizados.
                    Asesoramiento en ejercicios y rutinas.
                    </li>
                </ul>

            </section>
    </main>
</body>
</html>