<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <%- include('partials/head')%>
    <title><%= tittle%></title>
</head>
<body>
    <%- include('partials/navigation') %>
    <main class="container vh-100 pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1 d-flex justify-content-center">about</h1>
            <p class="d-flex justify-content-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et voluptatum dolorem eum atque 
                modi blanditiis, debitis illum odio placeat doloribus minima rerum deserunt expedita natus dolor maxime adipisci dolore optio.</p>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>
</html>