<footer class="bg-dark text-center p-4">
    <h3>este es el footer</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae quo, asperiores fugit exercitationem aperiam 
        architecto at obcaecati sint earum porro optio dignissimos sequi nihil ex qui nostrum natus quisquam non?</p>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>