<footer class="bg-dark text-center p-4">
    <h3>tu seguridad esta de primero</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo quasi reprehenderit maiores ab aperiam tenetur culpa unde qui nisi, iure porro ratione non dignissimos. Labore reiciendis porro itaque quo mollitia.</p>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>